body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #EFE9E3;
}

/* ===================== */
/*    PANTALLA BASE      */
/* ===================== */

.map-container {
  width: 100%;
}

.map-placeholder {
  width: 100%;
  display: block;
  border-radius: 5px;
}

.modo-trayecto {
  padding: 1.5rem;
}

summary {
  font-size: 1.3rem;
  cursor: pointer;
}

.trayecto-images {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.trayecto-images img {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  background: #ccc;
}


/* ===================== */
/*    OVERLAYS           */
/* ===================== */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  overflow-y: auto;
  padding: 1rem 1.5rem;
  z-index: 20;
}

.hidden {
  display: none;
}

.overlay-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.overlay-header button {
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

.search-bar-overlay {
  display: flex;
  gap: 0.5rem;
  margin: 1rem 0;
}

.search-bar-overlay input {
  flex: 1;
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.search-bar-overlay button {
  background: none;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
}

/* FILTROS */
.filters {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.filter-btn {
  padding: 0.6rem 1rem;
  border-radius: 20px;
  border: 1px solid #aaa;
  background: #fff;
  cursor: pointer;
}

.filter-btn.active {
  background: #222;
  color: white;
}

/* TARJETAS */
.incident-card {
  background: #fff;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1.5rem;
  border: 1px solid #ddd;
}

.incident-card img {
  width: 100%;
  border-radius: 10px;
  margin: 1rem 0;
}

.details-btn {
  width: 100%;
  padding: 0.8rem;
  background: #333;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}


/* ===================== */
/*   PANTALLA DE FILTROS */
/* ===================== */

.filter-block {
  margin-bottom: 1.3rem;
}

.filter-block label {
  font-size: 1rem;
}

.filter-block select {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #aaa;
  border-radius: 6px;
}
