/* Estilos generales */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 600px; 
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.active-screen {
    display: block; /* Muestra la pantalla */
}

.hidden-screen {
    display: none; /* Oculta la pantalla */
}


.header {
    background-color: #A1E3DC; 
    color: white;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    position: relative;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.header h1 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
    flex-grow: 1;
    text-align: center;
}

.back-icon {
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    left: 20px;
}

/* Lista de Reportes */
.reports-list-card {
    padding: 20px;
}

.report-item {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 12px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.report-info {
    flex: 1; 
    min-width: 0;
    padding-right: 10px;
}

.reporter-name {
    font-size: 1.1rem;
    font-weight: 700;
    color: #333;
    margin-right: 8px;
    vertical-align: middle;
}

.person-icon {
    color: #38c7b8;
    font-size: 1.3rem;
    vertical-align: middle;
    margin-right: 5px;
}

.report-summary {
    font-size: 1rem;
    color: #555;
    margin-top: 5px;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}


.btn-more {
    flex-shrink: 0; 
    background-color: black;
    color: white;
    border: none;
    padding: 8px 15px;
    font-size: 0.9rem;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn-more:hover {
    background-color: #333;
}


.action-buttons-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 25px;
    padding: 0 5%;
}


.btn-main-action, .btn-secondary-action {
    width: 100%;
    padding: 15px 20px;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
    border: none;
    text-transform: uppercase;
}


.btn-main-action {
    background-color: black;
    color: white;
}

.btn-main-action:hover {
    background-color: #333;
}


.btn-secondary-action {
    background-color: #eee;
    color: black;
    border: 1px solid #ccc;
}

.btn-secondary-action:hover {
    background-color: #ddd;
}


@media (min-width: 480px) {

    .action-buttons-group {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        gap: 10px;
    }
    .btn-main-action {
        grid-column: 1 / 3; 
    }

}

/* -------------------------------------    */
/* ESTILOS DE PUBLICAR REPORTE (PANTALLA 2) */
/* -------------------------------------    */

.publish-card { 
    padding: 20px; 
}

.report-field { 
    margin-bottom: 20px; 
}

.report-field label {
    display: block;
    font-weight: 600;
    margin-bottom: 8px;
    color: #333;
}
.report-field input[type="text"],

.report-field textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 1rem;
    color: #555;
}
.report-field textarea {
    resize: vertical;
    min-height: 100px;
    background-color: #fff; 
}

.btn-confirm {
    width: 100%;
    background-color: black;
    color: white;
    border: none;
    padding: 15px 20px;
    font-size: 1.1rem;
    font-weight: 700;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}


/* -------------------------------------    */
/* ESTILOS DE REVISIÓN REPORTE (PANTALLA 3) */
/* -------------------------------------    */
.review-card {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.review-box {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 25px;
    text-align: center;
    width: 90%;
    max-width: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.review-box h2 {
    font-size: 1.3rem;
    color: #cc0000; 
    margin-top: 0;
}

.review-box p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 20px;
    line-height: 1.4;
}

.btn-ok {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 40px;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn-ok:hover {
    background-color: #333;
}

/* -------------------------------------               */
/* ESTILOS DE REPORTE PUBLICADO CON ÉXITO (PANTALLA 4) */
/* -------------------------------------               */


.success-card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.success-box {
    text-align: center;
    padding: 40px 20px;
    width: 90%;
    max-width: 350px;
}

.success-message {
    font-size: 1.8rem;
    font-weight: 700;
    color: #333;
    line-height: 1.2;
    margin-bottom: 20px;
}

.btn-close-success {
    background-color: black;
    color: white;
    border: none;
    padding: 15px 50px;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 6px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.2s;
}

.btn-close-success:hover {
    background-color: #333;
}


/* ------------------------------------- */
/* ESTILOS DE SECCION DE VALIDAR REPORTE */
/* ------------------------------------- */

.validation-section {
    padding-top: 20px;
    text-align: center;
}

.validation-question {
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 15px;
}


.button-group {
    display: flex;
    flex-direction: column; 
    gap: 10px;
    width: 100%; 
    margin: 0 auto;
}


.btn {
    border: none;
    padding: 15px 20px;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    text-transform: uppercase;
    text-align: center;
}


.valid-btn {
    background-color: black; 
    color: white;
}

.valid-btn:hover {
    background-color: #333;
}


.invalid-btn {
    background-color: white;
    color: black;
    border: 2px solid black; 
}

.invalid-btn:hover {
    background-color: #f0f0f0;
}


@media (min-width: 480px) {
    .button-group {
        flex-direction: row; 
        justify-content: space-between;
        gap: 20px;
    }
    .btn {
        flex: 1; 
    }
}

/* ------------------------------------- */
/* ESTILOS DE PANTALLA DE RAZONES DE VALIDACIÓN */
/* ------------------------------------- */
.reasons-card {
    padding: 20px;
}

.reasons-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 25px;
    color: #333;
}

.reason-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #fcfcfc;
}

.reason-info {
    flex-grow: 1;
    padding-right: 15px;
}

.reason-info h3 {
    font-size: 1.1rem;
    font-weight: 700;
    color: #000;
    margin: 0;
}

.reason-info p {
    font-size: 0.9rem;
    color: #555;
    margin: 5px 0 0 0;
}

.btn-select {
    flex-shrink: 0;
    background-color: black;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 0.9rem;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s;
    text-transform: uppercase;
}

.btn-select:hover {
    background-color: #333;
}

/* ------------------------------------- */
/* ESTILOS PARA ESTADO DESTACADO */
/* ------------------------------------- */

.destacado-label {
    font-size: 0.9rem;
    font-weight: 700;
    color: #38c7b8; 
    margin-left: 5px;
    opacity: 0;
    transition: opacity 0.3s;
}


.destacado-item .destacado-label {
    opacity: 1;
}


.destacado-item {
    border: 2px solid #38c7b8; 
    background-color: #e6f7f7; 
}

/* ------------------------------------- */
/* ESTILOS PARA ESTADO SOSPECHOSO */
/* ------------------------------------- */

.sospechoso-label {
    font-size: 0.9rem;
    font-weight: 700;
    color: #cc0000; 
    margin-left: 5px;
    opacity: 0;
    transition: opacity 0.3s;
}

.sospechoso-item .sospechoso-label {
    opacity: 1;
}

.sospechoso-item {
    border: 2px solid #cc0000; 
    background-color: #fff0f0; 
}


/* ------------------------------------- */
/* ESTILOS DE PANTALLA DE HISTORIAL */
/* ------------------------------------- */

.history-card {
    padding: 20px;
}

.history-title {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 15px;
    color: #333;
}

.history-item {
    padding: 12px 15px; 
}

.history-item .btn-more {
    padding: 8px 15px;
    font-weight: 500;
}


.history-invalid-item {
    border: 1px solid #cc0000;
    background-color: #fffafb;/
}

.history-invalid-label {
    font-weight: 700;
    color: #cc0000; 
    margin-left: 5px;
}

/* Contenedor Principal */
.bottom-bar—barrainferior {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    height: 70px;
    background: white;

    display: flex;
    justify-content: space-around;
    align-items: center;

    border-top: 1px solid #ccc;
    /* Aplicar el estilo del borde redondeado de tu diseño móvil */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* Estilo Base del Botón (a) */
.btn—barrainferior {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 8px;
    border-radius: 10px;
    transition: background 0.2s, filter 0.2s;
}

.btn—barrainferior:hover {
    background: rgba(0, 0, 0, 0.08);
    filter: brightness(0.9);
}

/* Estilo del Icono (img) */
.icon—barrainferior {
    width: 28px;
    height: 28px;
}

/* Botón Central de Alerta (Rojo) */
.alerta-btn—barrainferior {
    background: #e03957; /* Rojo ajustado similar al diseño de pánico */
    padding: 12px;
    border-radius: 50%; /* Lo hace circular */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Añade una sombra para destacarlo */
}

.alerta-btn—barrainferior:hover {
    background: #cc0000;
    filter: brightness(0.9);
}

/* Icono dentro del botón de Alerta */
.alerta—barrainferior {
    /* El icono de alerta suele ser más grande */
    width: 32px; 
    height: 32px;

}
